#finalScoreDiv {
    background-color: #160c2f;
    border-radius: 20px;
    width: 30%;
    padding: 50px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    box-shadow: 0px 0px 10px #0d091a;
}

#p1 {
    font-size: medium;
}

#p2 {
    font-size: small;
}

#restartButton {
    display: block;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #160c2f;
    width: 400px;
    height: 70px;
    border-radius: 30px;
    font-size: 2rem;
    font-weight: 600;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-size: 100% 100%;
    box-shadow: 0px 0px 10px #0d091a;
    z-index: 2;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;

    animation: pulse2 2s infinite alternate;
    transition: background-color 0.3s ease;
  }
  #restartButton:hover {
    background-color: #f97068;
  }